.card {
    background-color: var(--mantine-color-body);
}

.paper {
    border: 4px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4)); /* Border around the item */
    border-radius: var(--mantine-radius-md); /* Rounded corners */
    margin-bottom: var(--mantine-spacing-sm); /* Spacing between items */
    margin-left: var(--mantine-spacing-sm); /* Spacing between items */
    margin-right: var(--mantine-spacing-sm); /* Spacing between items */
    margin-top: var(--mantine-spacing-sm); /* Spacing between items */
    background-color: var(--mantine-color-body); /* Optional: Background color for the item */
    box-shadow: var(--mantine-shadow-sm); /* Optional: Subtle shadow effect */
    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease; /* Optional: Smooth hover effect */
}

.itemWrapper {
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4)); /* Border around the item */
    border-radius: var(--mantine-radius-md); /* Rounded corners */
    padding: var(--mantine-spacing-sm); /* Padding inside the item */
    margin-bottom: var(--mantine-spacing-sm); /* Spacing between items */
    background-color: var(--mantine-color-body); /* Optional: Background color for the item */
    box-shadow: var(--mantine-shadow-sm); /* Optional: Subtle shadow effect */
    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease; /* Optional: Smooth hover effect */
}

.itemWrapper:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
    transform: translateY(-1px); /* Slight lift effect */
}

/* .item {
  padding-top: var(--mantine-spacing-sm);
  margin-top: var(--mantine-spacing-sm);
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  border-radius: 8;
} */

.item {
    display: flex;
    align-items: center;
}

.switch {
    & * {
        cursor: pointer;
    }
}

.title {
    line-height: 1;
}

body {
    min-width: 22rem;
    margin: 0;
}
