/* styles.css */
#cursor-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10000;
    pointer-events: none;
    display: none;
}

input:focus + #cursor-tooltip {
    display: block;
}

.popup-container {
    position: absolute;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    /* Remove margins and paddings that might affect positioning */
    margin: 0;
    padding: 5px;
    /* Other styles */
}
